{% extends 'base.html' %}
{% load static%}
{% block content %}
<div class="animated-text">
  <h2 class="text-5xl font-bold text-white text-center pt-20">T-Lab Academy</h2>
</div>
<!-- <section style="padding: 1vw 5vw;" class="border-b border-orange-500">
<h3 class="text-2xl font-bold text-white mb-5 text-white p-8">Our Courses</h3>
<div id="productContainer" class="p-4 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-8" >
  <div class="bg-zinc-950 mx-8 p-4 rounded-lg shadow-md mb-4"><img src="{% static 'img/academy post.jpg'%}" alt="ATH-M20x Professional Headphones" class=" w-full h-32 object-contain mb-4"><h3 class="text-sm text-gray-200 p-2">Ableton Live Crash Course for Beginners</h3><p class="text-gray-600 pb-2"></p><a href="https://wa.me/+94777836315/?text=Hello%2C%20I'm%20interested%20in%20ATH-M20x%20Professional%20Headphones%20.%20Can%20you%20provide%20more%20details%3F" class="bg-orange-500 text-white rounded-full px-4 py-2 mt-4">More Details</a></div>
  <div class="bg-zinc-950 mx-8 p-4 rounded-lg shadow-md mb-4 transparent-background"><img src="{% static 'img/course 2.jpeg'%}" alt="ATH-M20x Professional Headphones" class=" w-full h-32 object-contain mb-4"><h3 class=" transparent-background text-sm text-gray-200 p-2">Playback Technology with Ableton Live</h3><p class="transparent-background text-gray-600 pb-2"></p><a href="https://wa.me/+94777836315/?text=Hello%2C%20I'm%20interested%20in%20ATH-M20x%20Professional%20Headphones%20.%20Can%20you%20provide%20more%20details%3F" class="transparent-background bg-orange-500 text-white rounded-full px-4 py-2 mt-4">More Details</a></div>
</div>
</section> -->
<section>
<div>
  <h3 class="text-2xl font-bold text-orange-500 m-8 mt-10 px-8 text-white">Ableton Live Crash Course for Beginners | New Intake</h3>
  <div class="flex flex-col md:flex-row" style="padding: 0.1vw 5vw;">
    <!-- First Column -->
    <div class="md:w-1/2 custom-padding px-8 py-6 flex justify-center">
      <div class="image-container">
        <img src="{% static 'img/academy post.jpg'%}"  class="rounded-lg">
      </div>
    </div>
    <div class=" sm:hidden flex items-center justify-center rounded-3xl p-2 px-8 space-x-4 my-6 mx-3 ">
      <div class="">
        <a href="https://forms.gle/8hGoD3BrCwxhBDYd7" class="bg-orange-500 text-white rounded-full px-4 py-2 mt-4">Apply now</a>
      </a>
      </div>
    </div>
    <div class="md:w-1/2 custom-padding px-8 py-6 bg-black">
      <section id="composing">
        <p class="text-gray-500 pb-2 text-md"> Introducing T-LAB Academy's latest music production course | Ableton Live &
          Playback Technology Learn how to make digital music the right way</p>

          </br>
          <ul class="text-sm text-gray-500 list-disc pl-5 mb-2">
            <li>Cubase software simply and clearly</li>
            <li>Audio Recording: Accurately record live sounds of voices and musical instruments</li>
            <li>Create songs using MIDI and leading VSTi (e.g., Kontakt)</li>
            <li>Completing a song using Audio and MIDI</li>
            <li>Improving tone and adjusting modulation using Compressor, EQ, Pitch Correction, Reverb, and Delay effects accurately</li>
            <li>Using MIX and MASTER to increase the quality of the song with a good sound combination</li>
        </ul>
        
        <a href="https://wa.link/owuuyf" class="text-gray-300 text-md">Join us for quality and standard digital music creation.<br> Contact – 0776141142</a>
          <div class="hidden sm:flex flex-row items-center rounded-3xl p-3  space-x-4 my-6 mx-2 justify-center  ">
            <div>
            <a href="https://forms.gle/8hGoD3BrCwxhBDYd7" class="bg-orange-500 text-white rounded-full px-4 py-2 mt-4">Apply now</a>
          </div>
        </div>
      </section>
    </div>
</div> 
</section>
<section style="padding: 1vw 5vw;" class="border-b border-orange-500">
  <h3 class="text-lg px-4 text-white mb-5 text-gray-200 font-semibold">Lectures</h3>
  <div  class="px-2 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-8" >
    <div class="bg-black p-4 rounded-lg shadow-md mb-4">
      <img src="{% static 'img/Thusith.jpeg' %}" class="w-full h-48 object-contain mb-4 rounded-2xl" alt="Thusith Niroshana">
      <h3 class="text-md px-4 text-white ">Thusith Niroshana</h3>
      <p class="text-gray-600 px-4 pb-2 text-sm">Founder of T-Lab Studios / Music Producer</p>
  </div>
  
  <div class="bg-black p-4 rounded-lg shadow-md justify-start mb-4">
      <img src="{% static 'img/saliya.jpg' %}" class="w-full h-48 object-contain mb-4 rounded-3xl" alt="Saliya Illangasinghe">
      <h3 class="text-md px-4 text-white ">Saliya Illangasinghe</h3>
      <p class="text-gray-600 px-4 pb-2 text-sm">Guitarist / Composer / Musician at WINGS</p>
  </div>
    </div>
</section>
<section>
  <div>
    <h3 class="text-2xl font-bold text-orange-500 m-8 px-8 text-white">Music Production with Cubase | New Intake</h3>
    <div class="flex flex-col md:flex-row" style="padding: 0.1vw 5vw;">
      <!-- First Column -->
      <div class="md:w-1/2 custom-padding px-8 py-6 flex justify-center">
        <div class="image-container">
          <img src="{% static 'img/course 2.jpeg'%}"  class="rounded-lg">
        </div>
      </div>
      <div class=" sm:hidden flex items-center justify-center rounded-3xl p-2 px-8 space-x-4 my-6 mx-3 ">
        <div class="">
          <a href="#" class="bg-orange-500 text-white rounded-full px-4 py-2 mt-4">Coming Soon</a>
          </a>
        </div>
      </div> 
      <div class="md:w-1/2 custom-padding px-8 py-6 bg-black">
          <p class="text-gray-500 pb-2 text-md"> Introducing T-LAB Academy's latest music production course | Ableton Live &
            Playback Technology Learn how to make digital music the right way</p>
  
            </br>
            <ul class="text-sm text-gray-500 list-disc pl-5 mb-2">
              <li>Ableton Live software simply and clearly</li>
              <li>Audio Recording: Accurately record live sounds of voices and musical instruments</li>
              <li>Create songs using MIDI and leading VSTi (e.g., Kontakt)</li>
              <li>Completing a song using Audio and MIDI</li>
              <li>Improving tone and adjusting modulation using Compressor, EQ, Pitch Correction, Reverb, and Delay effects accurately</li>
              <li>Using MIX and MASTER to increase the quality of the song with a good sound combination</li>
              <li>Correct handling of playback technology in live performance and basic principles of live looping technology</li>
          </ul>
          
          <a href="https://wa.link/owuuyf" class="text-gray-300 pt-4 text-md">Join us for quality and standard digital music creation.<br> Contact – 0776141142</a>
            <div class="hidden sm:flex flex-row items-center rounded-3xl p-3  space-x-4 my-6 mx-2 justify-center  ">
              <div>
              <a href="#" class="bg-orange-500 text-white rounded-full px-4 py-2 mt-4">Apply now</a>
            </div>
          </div>
      </div>
  
      <!-- Second Column -->
        
  </div> 
  </section>
  <!-- <section style="padding: 1vw 5vw;" class="border-b border-orange-500">
    <h3 class="text-lg px-4 text-white mb-5 text-gray-200 font-semibold">Lectures</h3>
    <div  class="px-2 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-8" >
      <div class="bg-black p-4 rounded-lg shadow-md mb-4">
        <img src="{% static 'img/Thusith.jpeg' %}" class="w-full h-48 object-contain mb-4 rounded-2xl" alt="Thusith Niroshana">
        <h3 class="text-md px-4 text-white ">Thusith Niroshana</h3>
        <p class="text-gray-600 px-4 pb-2 text-sm">Founder of T-Lab Studios / Music Producer</p>
    </div>
      </div>
  </section> -->


{% endblock %}