{% extends 'base.html' %}
{% load static%}
{% block content %}
<style>
  .videos {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin: 0 auto;
    justify-content: center;
  }
  
  .video {
    width: 280px;
    border-radius: 20px;
    padding: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    text-align: center;
    background-color: #000000;
  }
  
  .video a {
    text-decoration: none;
  }
  
  .video img {
    width: 100%;
    height: 160px;
    object-fit: cover;
  }
  
  .video .title {
    font-size: 1.1rem ;
    margin-bottom: 5px;
    color: #ccc;
  }
  
  .video .channel {
    color: #888;
    font-size: 0.9em;
  }
  
  .video:hover {
    border-color: #ccc;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  }
  
  .video .title:hover {
    color: #333;
  }
  </style> 
<section id="our-works" class="pt-10">
  <div class="animated-text">
    <h2 class="text-5xl font-bold text-white text-center px-3 pt-10">Our Productions</h2>
    <p class="text-gray-500 p-8 text-center" style="padding: 1vw 5vw">We've mastered the art of
      crafting captivating TV commercials (TVCs) and producing memorable songs, showcasing our ability to blend
      creativity and storytelling in both visual and auditory realms</p>
  </div>
  <h1 class="px-14 py-3 text-4xl font-bold  mb-5 text-white">Audio Productions</h1>
  <section class="section border-b border-orange-500">
    <h3 class="px-14 py-3 text-xl font-bold text-orange-500 mb-5 text-white">TV Commercial Soundtrack Productions</h3>
    <div class="container mx-auto p-4 px-8">
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 my-2 mx-8">
          <div class=" flex-col bg-zinc-950 shadow-md rounded-lg p-4 flex ">
            <iframe src="https://www.youtube.com/embed/zlQKBJRpuCQ?si=dVm_QUcK4nmbmcWR" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <h2 class="text-xs text-gray-300 mt-2">Nestomolt TVC</h2>
            <P class="text-xs text-gray-500 mb-2">Music - T-Lab Studios </P>
          </div>
          <div class=" flex-col bg-zinc-950 shadow-md rounded-lg p-4 flex ">
            <iframe src="https://www.youtube.com/embed/cxoN3ZZ5v7s?si=lmuEXSojbfyeD37G" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>             
            <h2 class="text-xs text-gray-300 mt-4 ">Asian Paints TVC with Kumar Sangakkara</h2>
             <P class="text-xs text-gray-500 mb-2">Music | T-LAB Studios (Thusith Niroshana)</P>
          </div>
          <div class=" flex-col bg-zinc-950 shadow-md rounded-lg p-4 flex ">
            <iframe src="https://www.youtube.com/embed/nczgJ2YDZ1E?si=3ulWBjuDql3D8TJf" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>            
            <h2 class="text-xs text-gray-300 mt-4">DFCC Teen Account TVC Sinhala</h2>
            <P class="text-xs text-gray-500 mb-2">Music | Aloka Somarathna | T-Lab Studios | Audio Cube</P>
          </div>
          <div class=" flex-col bg-zinc-950 shadow-md rounded-lg p-4 flex ">
            <iframe src="https://www.youtube.com/embed/hLOd46ecJvw?si=n5bzD8KWCZs_YmHa" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <h2 class="text-xs text-gray-300 mt-2">Maliban White Chocolate Puff Chocolate Puff Tvc </h2>
            <P class="text-xs text-gray-500 mb-2">Music - T-LAB Studios </P>
          </div>
          <div class=" flex-col bg-zinc-950 shadow-md rounded-lg p-4 flex ">
            <iframe src="https://www.youtube.com/embed/73MyTHG2Uco?si=EwYe--YlXa8A9P5O" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>            
            <h2 class="text-xs text-gray-300 mt-2">හිතාගන්න බැරි මොහොතක් | Hithaganna Bari mohothak</h2>
            <P class="text-xs text-gray-500 mb-2">Music | Thusith Niroshana (T-Lab)</P>
          </div>
          <div class=" flex-col bg-zinc-950 shadow-md rounded-lg p-4 flex ">
            <iframe src="https://www.youtube.com/embed/3vvx40QgRMo?si=56OUWT4bhU_c084o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>            
            <h2 class="text-xs text-gray-300 mt-2">Maggi Papare 30 Sec TVC</h2>
            <P class="text-xs text-gray-500 mb-2">Music | Thusith Niroshana (T-Lab)</P>
          </div>
      </div>
      <div class="flex justify-center items-center">
      <a class="text-sm text-orange-400 text-center px-6 m-5" href="https://youtube.com/playlist?list=PLc9zDvEQ-YwScqHZ96wgyFtDiQBAQhQWB&si=syWmkVqSQ8iTKDyI">Click here to more...</a>
    </div>
  </div>
  
  </section>
  <section class="section border-b  border-orange-500">
    <h3 class="px-14 py-3 text-xl font-bold text-orange-500 mt-3 mb-5 text-white">Original Songs</h3>
    <div class="container mx-auto p-4 px-8">
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 my-2 mx-8">
        <div class=" flex-col bg-zinc-950 shadow-md rounded-lg p-4 flex ">
          <iframe  src="https://www.youtube.com/embed/jAGEfhsHERs?si=VHtZAgJoVjx70by6" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>           
          <h2 class="text-xs text-gray-300 mt-4 font-bold">Happy Birthday Song - උපන් දිනය - Centigradz ( Music Video</h2>
           <P class="text-xs text-gray-500 mb-2">Melody & Music : Thusith Niroshana | T-Lab studios </P>
        </div>
        <div class=" flex-col bg-zinc-950 shadow-md rounded-lg p-4 flex ">
          <iframe  src="https://www.youtube.com/embed/PFNNSInOuuM?si=sUpw6yaCI3C299nt" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>          
           <h2 class="text-xs text-gray-300 mt-4 font-bold">Hadakari Naari - Dinesh gamage / Kaizer kaiz (Official Music Video)</h2>
           <P class="text-xs text-gray-500 mb-2"> Music Produced By Thusith Niroshana </P>
        </div>
          <div class=" flex-col bg-zinc-950 shadow-md rounded-lg p-4 flex ">
            <iframe src="https://www.youtube.com/embed/eAPcXyJyi9U?si=ntJvAsfuStRKgDpz" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
             <h2 class="text-xs text-gray-300 mt-4 font-bold">Arjun x Piyal - Oye Ojaye (Official Music Video)</h2>
             <P class="text-xs text-gray-500 mb-2">Music Production - Thusith Niroshana | T-Lab Studios </P>
          </div>
          <div class=" flex-col bg-zinc-950 shadow-md rounded-lg p-4 flex ">
            <iframe  src="https://www.youtube.com/embed/EqkdCfSVRlg?si=psZVV_CflAstScHM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>            
            <h2 class="text-xs text-gray-300 mt-4 font-bold">Vise Vise (විසේ විසේ) - Centigradz | Official Music Video</h2>
             <P class="text-xs text-gray-500 mb-2">Melody & Music : Thusith Niroshana | Mix & Mastered By Thusith Niroshana  </P>
          </div>
          <div class=" flex-col bg-zinc-950 shadow-md rounded-lg p-4 flex ">
            <iframe src="https://www.youtube.com/embed/4G457XjSOTs?si=AkEyfHeiF0zvc0vg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>             
            <h2 class="text-xs text-gray-300 mt-4 font-bold">Dangakari (සිත ඔබ ගාව රැදුනේ) - Centigradz | Official Music Video</h2>
            <P class="text-xs text-gray-500 mb-2">Melody & Music - Thusith Niroshana | Lyrics - Thusith Niroshana</P>
          </div>
          <div class=" flex-col bg-zinc-950 shadow-md rounded-lg p-4 flex ">
            <iframe src="https://www.youtube.com/embed/UKORGvuyyII?si=6LDkQUpxYdPCowEf" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>            
            <h2 class="text-xs text-gray-300 mt-4">සෙන්ටිග්‍රේඩ්ස් එක්ක අවුරුදු |CENTIGRADZ Avurudu Song Collection</h2>
            <P class="text-xs text-gray-500 mb-2">Melody & Music : Thusith Niroshana </P>
          </div>
      </div>
      <div class="flex justify-center items-center">
      <a class="text-sm text-orange-400 text-center px-6 m-5" href="https://www.youtube.com/playlist?list=PLc9zDvEQ-YwRkk8vBMjI5aO6Mw3yuvTBn">Click here to more...</a>
      </div>
  </div>
  
  </section>
  <section class="section ">
    <h3 class="px-14 py-3 text-xl font-bold text-orange-500 mt-3 mb-5 text-white">Films and Teledrama theme songs</h3>
    <div class="container mx-auto p-4 px-8">
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 my-2 mx-8">
          <div class=" flex-col bg-zinc-950 shadow-md rounded-lg p-4 flex ">
            <iframe src="https://www.youtube.com/embed/04Fjw2mgYpQ?si=oI3eR8oCd3-_GlyG" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
             <h2 class="text-xs text-gray-300 mt-4 font-bold">Pahasara - Centigradz</h2>
             <P class="text-xs text-gray-500 mb-2">Melody | Music  : Thusith Niroshana<br>Mixed & Mastered: T-Lab Studios
               </P>
          </div>
          <div class=" flex-col bg-zinc-950 shadow-md rounded-lg p-4 flex ">
            <iframe src="https://www.youtube.com/embed/766JL6-16mw?si=BJaYtZOgB9fgriGj" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <h2 class="text-xs text-gray-300 mt-4">Hello Hello - Chinthy,Centigradz,Ashanthi</h2>
            <P class="text-xs text-gray-500 mb-2">Music - T-Lab Studios</P>
          </div>
          <div class=" flex-col bg-zinc-950 shadow-md rounded-lg p-4 flex ">
            <iframe src="https://www.youtube.com/embed/0xMj0G0otf8?si=dEsvLTLTgY1wYTam" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <h2 class="text-xs text-gray-300 mt-2">Diurala Pawasanna Centigradz - Sulanga Teledrama Theme song</h2>
            <P class="text-xs text-gray-500 mb-2">Composers-Centigredz </P>
          </div>
          <div class=" flex-col bg-zinc-950 shadow-md rounded-lg p-4 flex ">
            <iframe src="https://www.youtube.com/embed/JVWCga8kiss?si=OqKQUt8H5V5CxR63" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <h2 class="text-xs text-gray-300 mt-2">Obata Nohaka (Mal Dewata Theme Song) - Ishan Lanthra (Centigradz)</h2>
            <P class="text-xs text-gray-500 mb-2">Music - T-Lab Studios  </P>
          </div>
          <div class=" flex-col bg-zinc-950 shadow-md rounded-lg p-4 flex ">
            <iframe  src="https://www.youtube.com/embed/C84_0b3Du-U?si=I03EvDjiJgaGPMk-" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <h2 class="text-xs text-gray-300 mt-2">Widinna Himi Wu Jeewithe (විඳින්න හිමි වූ ජීවිතේ ) | Sujatha Drama Theme Song</h2>
            <P class="text-xs text-gray-500 mb-2">Melody & Music - Thusith Niroshan </P>
          </div>
          <div class=" flex-col bg-zinc-950 shadow-md rounded-lg p-4 flex ">
            <iframe src="https://www.youtube.com/embed/zc1IshbCjj4?si=JNAPn2UxUJbmMVci" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>            
            <h2 class="text-xs text-gray-300 mt-2">Man Mulawee (Labadiye) - Centigradz</h2>
            <P class="text-xs text-gray-500 mb-2">Melody | Music  : Thusith Niroshana | Mixed & Mastered: T-Lab Studios</P>
          </div>

  </div>
  
  </section>
  <h1 class="px-14 py-3 text-4xl font-bold  my-5 text-white">Video Productions</h1>
  <section class="section border-b  border-orange-500">
    <h3 class="px-14 py-3 text-xl font-bold text-orange-500 mb-5 text-white">Music Video</h3>
    <div class="container mx-auto p-4 px-8">
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 my-2 mx-8">
          <div class=" flex-col bg-zinc-950 shadow-md rounded-lg p-4 flex ">
            <iframe src="https://www.youtube.com/embed/4G457XjSOTs?si=AkEyfHeiF0zvc0vg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>             
            <h2 class="text-xs text-gray-300 mt-4 font-bold">Dangakari (සිත ඔබ ගාව රැදුනේ) - Centigradz | Official Music Video</h2>
            <P class="text-xs text-gray-500 mb-2">Production House - T-Lab Studios | Film by : Theev Abey</P>
          </div>
          <div class=" flex-col bg-zinc-950 shadow-md rounded-lg p-4 flex ">
            <iframe  src="https://www.youtube.com/embed/1Cbohsb8cp0?si=wVWJRMT2iD2GS5a9" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>          
            <h2 class="text-xs text-gray-300 mt-4 font-bold">Billa One Shot ( බිල්ලා ) - CENTIGRADZ</h2>
             <P class="text-xs text-gray-500 mb-2">Production House : T -Lab Studios | Film by : Theev Abey</P>
          </div>
          <div class=" flex-col bg-zinc-950 shadow-md rounded-lg p-4 flex ">
            <iframe src="https://www.youtube.com/embed/lKPkx0d-glg?si=asS4j18vFZSf6AP3" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>            
            <h2 class="text-xs text-gray-300 mt-4">Ran Dakaththen ( රන් දෑකැත්තෙන් ) Sooraya Mangalyaya 2019</h2>
            <P class="text-xs text-gray-500 mb-2">DIRECTOR : Chothira Shanaka</P>
          </div>
          <!-- <div class=" flex-col bg-zinc-950 shadow-md rounded-lg p-4 flex ">
            <iframe src="https://www.youtube.com/embed/hLOd46ecJvw?si=n5bzD8KWCZs_YmHa" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <h2 class="text-xs text-gray-300 mt-2">Maliban White Chocolate Puff Chocolate Puff Tvc </h2>
            <P class="text-xs text-gray-500 mb-2">Music - T-LAB Studios </P>
          </div> -->
      </div>
  </div>
  </section>
  <section class="section border-b border-orange-500">
    <h3 class="px-14 py-3 text-xl font-bold text-orange-500 mb-5 text-white">Commercials</h3>
    <div class="container mx-auto p-4 px-8">
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 my-2 mx-8">
          <div class=" flex-col bg-zinc-950 shadow-md rounded-lg p-4 flex ">
            <iframe src="https://www.youtube.com/embed/myPDsn1KtlU?si=QHHjfk2Kl_PlwxZG" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>            
            <h2 class="text-xs text-gray-300 mt-4 font-bold">අලුත් එක | Aluth eka - Centigradz</h2>
            <P class="text-xs text-gray-500 mb-2">Production House - T-Lab Studios </P>
          </div>
          <!-- <div class=" flex-col bg-zinc-950 shadow-md rounded-lg p-4 flex ">
            <iframe src="https://www.youtube.com/embed/hLOd46ecJvw?si=n5bzD8KWCZs_YmHa" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <h2 class="text-xs text-gray-300 mt-2">Maliban White Chocolate Puff Chocolate Puff Tvc </h2>
            <P class="text-xs text-gray-500 mb-2">Music - T-LAB Studios </P>
          </div> -->
      </div>
  </div>
  </section>
  <section class="section border-b border-orange-500">
    <h3 class="px-14 py-3 text-xl font-bold text-orange-500 mb-5 text-white">Teledrama</h3>
    <div class="container mx-auto p-4 px-8">
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 my-2 mx-8">
          <div class=" flex-col bg-zinc-950 shadow-md rounded-lg p-4 flex ">
            <iframe src="https://www.youtube.com/embed/videoseries?si=jaxJl4OWOd1rTlRA&amp;list=PLWgTYyjN_6zyu1DhxxeL-pOrq6iZVbSMB" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>            
            <h2 class="text-xs text-gray-300 mt-4 font-bold">Labandiye Teledrama- ලබැඳියේ ටෙලිනාට්‍යය</h2>
            <P class="text-xs text-gray-500 mb-2">Production House - T-Lab Studios </P>
          </div>
          <div class=" flex-col bg-zinc-950 shadow-md rounded-lg p-4 flex ">
            <iframe src="https://www.youtube.com/embed/videoseries?si=zL58nxFvxMQJcRs2&amp;list=PLWgTYyjN_6zxYSQrtn0q7D9NAZD-uC5Lg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>            
            <h2 class="text-xs text-gray-300 mt-2">Konkala Doni Sinhala Teledrama  </h2>
            <P class="text-xs text-gray-500 mb-2">Production House - T-Lab Studios </P>
          </div>
      </div>
  </div>
  </section>



{% endblock %}